@import "variables-style/variables-style";
@import "../../style-base.scss";

/* Site Header */

.site-header,
.header-solid-background .site-header {
	padding-bottom: #{ 2 * $size__spacing-unit };

	@include media(tablet) {
		padding-bottom: #{ 4 * $size__spacing-unit };
	}

	@include media( desktop ) {
		padding: $size__spacing-unit 0 #{ 10 * $size__spacing-unit };
	}
}

.site-content,
.newspack-front-page.hide-homepage-title .site-content {
	margin-top: #{ -2 * $size__spacing-unit };

	@include media(tablet) {
		margin-top: #{ -4 * $size__spacing-unit };
	}

	@include media(desktop) {
		margin-top: #{ -8 * $size__spacing-unit };
	}
}

.bottom-header-contain .wrapper {
	border: 0;
}

.header-solid-background .bottom-header-contain {
	background-color: $color__primary;
}

body:not(.header-solid-background) .site-header {
	background-color: #efefef;
}

// Content Area

#primary {
	background: #fff;
	border-top: 2px solid $color__primary-variation;
	padding: $size__spacing-unit;

	@include media(tablet) {
		border-top-width: 4px;
		padding: #{ 1 * $size__spacing-unit } #{ 3 * $size__spacing-unit } 0;
	}

	@include media(desktop) {
		padding: #{ 4 * $size__spacing-unit } #{ 4.5 * $size__spacing-unit } 0;
	}
}

// Headings

.entry-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.cat-links {
	color: $color__text-light;
	font-family: $font__heading;
	font-size: $font__size-xs;
	text-transform: uppercase;
}

.entry-content .wp-block-newspack-blocks-homepage-articles .article-section-title,
.single-post .cat-links {
	margin: 0 0 #{ 3 * $size__spacing-unit };
}

.newspack-front-page.hide-homepage-title .entry .entry-content > *:first-child {
	margin-top: 0;
}

// Pages & Posts

.entry-meta .byline a {
	color: $color__text-light;
}

// Blocks

.entry .entry-content {

	.has-drop-cap:not(:focus)::first-letter {
		border: 7px solid $color__primary;
		font-size: $font__size-xxxl;
		font-weight: bold;
		line-height: 1;
		padding: #{ 0.75 * $size__spacing-unit };
		text-align: center;
	}

	.wp-block-pullquote {
		border-width: 12px 0 2px;
		font-family: $font__heading;
		font-weight: bold;

		@include media( tablet ) {
			font-size: $font__size-lg;
		}

		blockquote p {
			font-style: normal;
		}

		cite {
			font-size: #{ $font__size_base * 0.7 };
			text-transform: uppercase;
		}

		&.alignright,
		&.alignleft {
			border-width: 8px 0 0;
			font-size: $font__size-md;
		}
	}
}
